<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>387330915606-uttmfgo13s7eamnj9t22edrevoavtgjb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.387330915606-uttmfgo13s7eamnj9t22edrevoavtgjb</string>
	<key>API_KEY</key>
	<string>AIzaSyBDn7pLAv0eoDar1KnAZWHGR4CCrdftGxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>387330915606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.test1</string>
	<key>PROJECT_ID</key>
	<string>demoflutter-e3e6f</string>
	<key>STORAGE_BUCKET</key>
	<string>demoflutter-e3e6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387330915606:ios:fa49299c75df2e04e0a437</string>
</dict>
</plist>